/* Colors
black - #323232
light grey - #eeeee
teal - #00897f
orange - #f26522 */

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
  margin: 0;
  padding: 0;
}

.nav {
  line-height: 60px;
	height: 60px;
}

.nav h1 {
  display: inline;
  float: left;
  margin-left: 2%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.5em;
  color: #323232;
  font-weight: bold;
}

.nav ul {
  float: right;
}

.nav li {
  display: inline;
  font-family: "PT Sans Regular", sans-serif;
  font-size: .9em;
  color: #323232;
  text-transform: uppercase;
	padding-right: 15px;
}

#banner {
	background-image: url('../images/kats-hero.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 350px;
	margin-bottom: 80px;
}


h1 {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.875em;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5em;
  color: #00897f;
  text-transform: uppercase;
  font-weight: bold;
}

h3 {
  font-family: "PT Serif", serif;
  font-size: 1em;
  line-height: 2em;
  color: #323232;
}

p {
  font-family: "PT Serif", serif;
  font-size: .875em;
  line-height: 1.75em;
  color: #323232;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 80px;
}

.main h1 {
  padding-bottom: 45px;
}

.about {
  display: flex;
  justify-content: center;
}

.about div {
  width: 225px;
  height: 250px;
  background-color: #eeeeee;
  padding: 30px;
}

.about h2 {
  margin-bottom: 25px;
  text-align: center;
}

.aboutkat {
  margin-right: 60px;
}

/* Round Cat Images */

.roundimages {
  display: block;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.roundimages img {
  display: inline-block;
  border-radius: 50%;
  width: 20%;
	min-width: 175px;
}

.cat1 {
  margin-left: auto;
  margin-right: 55px;
}

.cat3 {
  margin-left: 55px;
  margin-right: auto;
}

/* Side by Side Contact Boxes */

.getintouch {
  background-color: #eeeeee;
  text-align: center;
}

.getintouch h1 {
  padding-top: 80px;
  padding-bottom: 45px;
}

.getintouch h2 {
  line-height: 2em;
}

.getintouch h3 {
  text-align: left;
}

.contactcontainer {
  display: flex;
  align-content: center;
}

.hours {
  background-color: #fff;
  padding: 30px;
  margin-left: auto;
  margin-right: 60px;
  margin-bottom: 80px;
  width: 250px;
}

.contact {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 80px;
  margin-right: auto;
  width: 250px;
}

.address {
  display: inline;
  float: left;
}

a {
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-size: 1em;
  color: #f26522;
}

.contact a {
  float: right;
  display: inline;
}

footer {
  background-color: #00897f;
  height: 125px;
  line-height: 125px;
}

footer h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.25em;
  color: #eeeeee;
  font-weight: bold;
}

#map {
	background-image: url('../images/kats-map.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	height: 350px;
}


@media screen and (max-width: 660px){

	.nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.nav ul {
		display: none;
	}

	.about {
	  display: block;

	}

	.aboutmavis {
		margin-left: auto;
		margin-right: auto;
	}

	.aboutkat {
		margin-left: auto;
		margin-right: auto;
	}

	.roundimages img:first-child {
		display: none;
	}

	.roundimages img:nth-child(2) {
		display: none;
	}

	.roundimages img:last-child {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 250px;
	}

	.contactcontainer {
		display: block;
		height: 70%;
	}

	.getintouch h1 {
		display: none;
	}

	.hours {
		margin-left: auto;
		margin-right: auto;
		background-color: #eeeeee;
		padding: 10px;
		margin-bottom: 10px;
	}

	.contact {
		margin-left: auto;
		margin-right: auto;
		background-color: #eeeeee;
		padding: 10px;
	}
